.container {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .nav-bar {
    padding: 20px;
    background-color: #f9fafb;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    .pages {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;

      .line {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        background-image: repeating-linear-gradient(
          to right,
          #979595,
          #979595 1px,
          transparent 5px,
          transparent 10px
        );
        z-index: 0;
        transform: translateY(-50%);
      }

      .gap {
        width: 30px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        z-index: 2;

        .gap-icon {
          color: #000;
          background: #ffffff;
          border: 1px solid #ccc;
          border-radius: 50%;
          padding: 3px;
          font-size: 12px;
          display: inline-block;
        }
      }

      .page {
        position: relative;
        z-index: 1;
        padding: 5px 12px;
        border: 1px solid #e1e1e1;
        border-radius: 7px;
        background: #eaedf1;
        color: #758095;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
          background: #d9dde0;
          color: #69728a;
          cursor: pointer;
        }

        i {
          margin-top: 2px;
        }

        .div-dots {
          .dots {
            margin-left: 5px;
            color: #69728a;
          }
        }
      }

      .default {
        margin-left: 40px;
        color: #000;
        background: #fff;
      }

      .active {
        transition: background 0.3s ease, color 0.3s ease;

        i {
          color: #f5a626;
          transition: color 0.3s ease;
        }

        color: #000;
        background: #fff;

        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
  }
}

.page-preview {
  padding: 5px 12px;
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  background: #eaedf1;
  color: #758095;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;

  .dots {
    margin-left: 5px;
    color: #69728a;
  }
}

.cdk-drag-preview {
  transition: none !important;
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-context-menu {
  animation: fadeInMenu 0.15s ease-out;
  transform-origin: bottom left;
  width: 240px;
  position: fixed;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  .title-div {
    background: #fbfafc;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 600;
    border-bottom: 1px solid #dddddd;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      cursor: pointer;

      span {
        margin-left: 8px;
        font-weight: 400;
      }

      .blue-icon {
        color: #2e73e2;
      }

      .default-icon {
        color: #a6acb9;
      }

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  .footer {
    padding: 0px 10px;

    .delete-div {
      padding: 10px;
      color: #f2777b;
      border-top: 1px solid #dddddd;

      span {
        margin-left: 8px;
        font-weight: 400;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
